.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding-top: 40px;
 

}

.wrapperminiImg {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: auto;
    flex-wrap: wrap;
    max-width: 1300px;

}

.cardMiniImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    margin: 40px 20px;

    max-width: 300px;

    /* align-items: center; */
}

.paragraphMiniImg {
    font-size: 20px;
    font-weight: 600;
}

.paragraph {
    max-width: 700px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.wrapper {
    display: flex;
    /* padding: 20px 40px; */
    gap: 30px;
    justify-content: space-evenly;

    /* max-width: 900px; */
    width: 100%;
    /* background-color: aqua; */
}

.waveEmpresa {
    background-image: url("wave-empresa.png");
    background-repeat: no-repeat;
    background-size: 790px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 500px;
}

.wrapperText {
    max-width: 500px;
    /* padding-right: 20px; */
}

.title {
    margin-bottom: 20px;
}

.wrapperImgDivider {
    position: relative;
    width: 100%;
    height: 200px;
    margin-top: 170px;
}

.imgDivider {
    position: absolute;
    left: 10px;
    top: -68px;
    width: 1200px;
    height: 320px;

}

.imgCarinho {
    position: absolute;
    right: 150px;
    top: 18px;
}

.wrapperContainerValores {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #F0E9E1;

}

.titleMainValores {
    font-family: "modesto-condensed";
    font-size: 80px;
    text-align: left;
    max-width: 750px;
    color: #fca437;
}

.wrapperTextValores {
    margin-top: 140px;
    gap: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cardValores {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-bottom: 1px solid #FFBD00;
    padding-bottom: 25px;
    /* background-color: aqua; */
}

.titleValores {
    font-size: 20px;
    font-weight: 700;
    color: #3A241A;
}

.paragraphValores {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 32px;
    color: #000000
}