.container {
    /* background-color: #D3D8DC; */
    background-image: url("background.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* opacity: .15; */
    width: 100%;
    height: 900px;
    /* position: relative; */
    padding-bottom: 40px;
    height: auto;
    
}




.wrapperParagraph {
    display: flex;
    justify-content: center;
    /* max-width: 500px; */
    align-items: center;
    text-align: center;
 
}

.paragraph {
    max-width: 760px;
    color: #231f20;
    font-size: 20px;
    margin: 0;
    font-weight: 500;
}