.container{
    padding: 30px 35px;
    background-image: url("background-queijo.png");
    background-size: 1900px 900px;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wrapperParagraph{
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}


.title{
    color: #037abc;
}

.paragraph{
    color: #848d95;
}

.button{
    padding: 10px 25px;
    border-radius: 3px;
    box-shadow: unset;
    border: 1px solid #037ABC;
    color: #037ABC;

}